# This file is related to https://github.com/fourminute/Fluffy.
# ATTR{manufacturer} and ATTR{product} are not usable as they change when tinfoil usb mode is launched.
# This rule is required for Switch connectivity.
SUBSYSTEMS=="usb", ATTR{idVendor}=="057e", MODE="0666"
